

.content {
    background-color: #f0f2f5;
}

.title {
    margin-bottom: 24px;
    text-align: left;
}

.table {
     background-color: #f0f2f5;
     padding: 16px;
     border-radius: 8px;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



