.layout {
    background-color:#f0f2f5;
}

.card {
    min-width: 250px;
    max-width: 1000px;
}

@media (max-width: 576px) {
    .card {
      width: 100%; /* Ensures full width on smaller screens */
    }
  }