
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6a5acd; /* Define a root variable for primary color */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-table-thead .ant-table-cell {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.ant-menu-item-active {
  background-color: var(--primary-color) !important;
}

.ant-menu-item-selected {
  background-color: var(--primary-color) !important;
}

.ant-layout .ant-layout-sider {
  background-color: #1e1e2f;
}

.ant-layout .ant-menu {
  background-color: #1e1e2f;
}

.ant-layout .ant-menu-root .ant-menu-inine .ant-menu-sub{
  background-color:#1e1e2f;
}

.ant-layout .ant-layout-sider-trigger {
  background-color: #1e1e2f;
}

.ant-otp .ant-input{
  background-color: #c0b7e8 !important;
}

.ant-otp .ant-input:focus-within{
  background-color: #c0b7e8 !important;
  box-shadow: 0 0 8px rgba(106, 90, 205, 0.5);
  
}

.ant-otp .ant-input-outlined {
  border-color: #c0b7e8 !important;

}

.ant-card .ant-card-head {
  background-color: var(--primary-color) !important;
}

.img {
  color:#1e1e2f;
}

.ant-table-row.active-row {
  background-color: #c0b7e8 !important; /* Your desired color for active rows */
}

.ant-table-row.inactive-row {
  background-color: #fff !important; /* Color for inactive rows */
}

.ant-form-item-control-input-content{
  max-width: 100%;
  height: fit-content;
}

.active-row .ant-table-cell-row-hover{
  background-color: #c0b7e8 !important; /* Your desired color for active rows */
}


.ant-table-row:focus-within{
  background-color: #c0b7e8 !important; 
}


.ant-menu-title-content {
  color:#dad7e7  !important;
}
.ant-menu-title-content:hover {
  color: white  !important;
}
.ant-menu-item-selected .ant-menu-title-content {
  color: white !important;
}

.button {
  background-color:#6a5acd !important;
  color: white !important; 
}

.img {
  color: var(--primary-color) !important;
}

.ant-table-cell {
  font-size: small;
}

.ant-btn-primary{
  background-color:#6a5acd !important;
}

.ant-card-head-title{
  color: white !important;
}

.ant-form-item-control-input .ant-input-password:focus-within{
  
    background-color: #c0b7e8 !important;
    box-shadow: 0 0 8px rgba(106, 90, 205, 0.5);

}

.ant-table-cell ::before {
  background-color: #dad7e7 !important;
}



